.NavContainer {
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    height: 15vh;
    width: 100%;
    
}

.logo{
    margin-left: 40px;
    margin-right: 20px;   
    font-size: 1.7em;
    color: #1A2980; 
}

.NavItems {
    margin: 30px;
}

.NavMenu{
    margin-right: 30px;
    display: none;
}

.NavItems a {
    display: flex;
    color: #292929;
    
}

.NavItems a:hover{
    border-bottom: 2px solid #1A2980;
    transition: all .1s;
}


@media (max-width: 470px){
    .NavContainer{
        font-size: 1em;
    }
    .NavItems a {
        display: none;
    }
    .NavMenu {
        display: block;
    }
}